html,
body {
    font-family: "Sora", sans-serif;
    height: 100%;
    background-color: #ebefee;
}

:root {
    --color-primary: #00c65e;
}

a {
    color: #0d0d0d;
}

.main {
    height: 100vh;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 240px;
    border-radius: 10px;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 6%);
    background-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
}

.card-new {
    padding: 0.75rem 1.5625rem;
}

.content {
    padding-top: 2rem;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.docCard {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 250px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.loader img {
    width: 60px;
    animation: loader 1.5s infinite ease-out;
    transform-origin: center;
}

.loader p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

@keyframes loader {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rz-dialog-titlebar {
    background: transparent;
    text-align: center;
    padding-top: 2rem;
}

.rz-dialog-title {
    font-size: 22px;
    font-weight: bold;
}

.rz-fieldset {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.rz-fieldset-legend {
    text-align: center;
    margin-left: 0;
}

.rz-fieldset-content {
    padding-left: 0;
    padding-right: 0;
}

.rz-html-editor-toolbar {
    border-top: 1px solid #dadfe2;
}

.rz-html-editor-toolbar > * {
    margin: 0;
}

.rz-html-editor-dropdown-value {
    font-size: 14px;
}

.rz-html-editor-button.rz-selected {
    background: var(--color-primary);
}
