html,
body {
    font-family: "Sora", sans-serif;
    height: 100%;
    background-color: #ebefee;
}

a {
    color: #0d0d0d;
}

.main {
    height: 100vh;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.card {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 240px;
    border-radius: 2px;
    box-shadow: 0 6px 14px 0 rgb(0 0 0 / 6%);
    background-color: #ffffff;
    cursor: pointer;
}

.card-new {
    padding: 0.75rem 1.5625rem;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.docCard {
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 250px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(49, 58, 124, 0.2);
    border-right: 1.1em solid rgba(49, 58, 124, 0.2);
    border-bottom: 1.1em solid rgba(49, 58, 124, 0.2);
    border-left: 1.1em solid #313a7c;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
