button {
    border: 0;
    cursor: pointer;
    box-shadow: 0 4px 0 -2px rgb(10 10 10 / 25%);

    height: 3rem;
    padding: 0 calc(1rem - 1px);
    font-size: 16px;
    font-weight: 400;
    line-height: calc(3rem - 2px);
    border-radius: 10px;
    font-weight: 500;
}

button:hover {
    transform: translateY(2px);
    box-shadow: none;
}

.primary {
    background: var(--color-primary);
}

.primary:hover {
    background: #01b856;
}

.white-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

::deep img {
    height: 70%;
    margin-right: 10px;
}
