@inherits LayoutComponentBase
@inject SkyDocsService SkyDocsService

<RadzenDialog />
<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@
    <CascadingValue Value="this">
        <div class="main">
            <div class="top-row px-4">
                <a href="/" class="logo">
                    <img src="img/logo.png" alt="SkyDocs logo" />
                </a>

                @if (TotalShares > 0)
                {
                    @if (NewShares > 0)
                    {
                        <b><a href="/shares">New Shares (@NewShares)</a></b>
                    }
                    else
                    {
                        <a href="/shares">New Shares</a>
                    }
                }

                <a href="/about">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </CascadingValue>
</div>

