@page "/about"

<h2>SkyDocs by Michiel Post</h2>
<div>
    <p>
        SkyDocs is created by Michiel Post for <a href="https://gitcoin.co/hackathon/skydb/onboard" target="_blank">The SkyDB Debut</a> hackathon.<br />
        Further development is made possible by a grant from <a href="https://thegraph.com" target="_blank">The Graph</a>.
    </p>
    <p>
        Source code is available on <a href="https://github.com/michielpost/SkyDocs" target="_blank">GitHub</a>
    </p>

    <p>
        Features:
        <ul>
            <li>Login with your personal username and password</li>
            <li>See a list of your documents</li>
            <li>Screenshot preview of all documents</li>
            <li>Edit documents</li>
            <li>Delete documents</li>
        </ul>
    </p>

    <p>
        NOTE: All data is publicly stored on Sia Skynet. Encryption of your documents is not yet implemented.
        <br />
        <br />
        SkyDocs is build with Blazor and runs on WebAssembly.
    </p>

    <p>
        Version: @Program.Version
    </p>
</div>