@page "/about"

<h2>SkyDocs by Michiel Post</h2>
<div>
    <p>
        SkyDocs is created by Michiel Post for <a href="https://gitcoin.co/hackathon/skydb/onboard" target="_blank">The SkyDB Debut</a> hackathon.<br />
        <br />
    </p>

    <p>
        Source code is available on <a href="https://github.com/michielpost/SkyDocs" target="_blank">GitHub</a>
    </p>
</div>