
<div class="container">
    <div class="row">
        <div class="col-md">
            <RadzenTemplateForm TItem="LoginModel" Data=@loginModel Submit=@Login>
                <RadzenFieldset Text="SkyDocs login">
                    <div class="row" style="margin-bottom: 24px">
                        <div class="col-md-4 align-right">
                            <RadzenLabel Text="Username" />
                        </div>
                        <div class="col">
                            <RadzenTextBox style="display: block" Name="Username" @bind-Value=@loginModel.Username />
                            <RadzenRequiredValidator Component="Username" Text="Username is required" Style="position: absolute" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 24px">
                        <div class="col-md-4">
                            <RadzenLabel Text="Password" />
                        </div>
                        <div class="col">
                            <RadzenPassword style="display: block" Name="Password" @bind-Value=@loginModel.Password />
                            <RadzenRequiredValidator Component="Password" Text="Password is required" Style="position: absolute" />
                        </div>
                    </div>
                    <p>
                        <small>
                            You can enter any username / password combination. But please remember your username and password, there is no way to retrieve them.
                        </small>
                        <br />
                        <small>Version: @Program.GetVersionWithoutHash()-<a href="https://github.com/michielpost/SkyDocs/tree/@Program.GetVersionHash()" target="_blank" style="color:#000000">@Program.GetVersionHash()</a></small>
                    </p>
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Login"></RadzenButton>
                </RadzenFieldset>
            </RadzenTemplateForm>
        </div>
        <div class="col-xs">
            <RadzenFieldset Text="Web3 login">
                <img src="img/metamask-fox.svg" @onclick="MetaMaskLogin" style="cursor: pointer;margin:-30px" />
            </RadzenFieldset>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (ShowMetaMaskMessage)
            {
                <br />
                <div class="alert alert-warning" role="alert">
                    Please install MetaMask from <a href="https://metamask.io" target="_blank">https://metamask.io</a>
                    <br />
                </div>
            }

            @if (!string.IsNullOrEmpty(Error))
            {
                <br />
                <div class="alert alert-warning" role="alert">
                    @Error
                </div>
            }
        </div>
        </div>
</div>


