<RadzenTemplateForm TItem="LoginModel" Data=@loginModel Submit=@Login>
    <RadzenFieldset Text="SkyDocs login">
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-4 align-right">
                <RadzenLabel Text="Username" />
            </div>
            <div class="col">
                <RadzenTextBox style="display: block" Name="Username" @bind-Value=@loginModel.Username />
                <RadzenRequiredValidator Component="Username" Text="Username is required" Style="position: absolute" />
            </div>
        </div>
        <div class="row" style="margin-bottom: 48px">
            <div class="col-md-4">
                <RadzenLabel Text="Password" />
            </div>
            <div class="col">
                <RadzenPassword  style="display: block" Name="Password" @bind-Value=@loginModel.Password />
                <RadzenRequiredValidator Component="Password" Text="Password is required" Style="position: absolute" />
            </div>
        </div>
        <br />
        <p>
            <small>
                You can enter any username / password combination. But please remember your username and password, there is no way to retreive them.
            </small>
            <br />
            <small>NOTE: all data is publicly stored on Sia Skynet.</small>
        </p>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Login"></RadzenButton>
    </RadzenFieldset>
</RadzenTemplateForm>