name: publish to skynet
on:
  pull_request:
  push:
    branches: [master]

jobs:
  publish:
    name: build and publish to skynet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: "Set master version"
        if: ${{ github.ref == 'refs/heads/master'}}
        run: echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV
        env:
          APP_VERSION: $(git rev-parse --short "$GITHUB_SHA")
      - name: "Set branch version"
        if: ${{ github.ref != 'refs/heads/master'}}
        run: echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV
        env:
          APP_VERSION: ${{ env.GITHUB_REF_SLUG }}-$(git rev-parse --short "$GITHUB_SHA")
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x
          include-prerelease: true
      - name: Build with dotnet
        run: dotnet build --configuration Release
      - name: Publish Website
        run: dotnet publish SkyDocs.Blazor -o publish/SkyDocs.Blazor -c Release --version-suffix ${{ env.APP_VERSION }}
      - name: Deploy to Skynet
        uses: kwypchlo/deploy-to-skynet-action@main
        with:
          upload-dir: publish/SkyDocs.Blazor/wwwroot
          github-token: ${{ secrets.GITHUB_TOKEN }}
          registry-seed: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && secrets.REGISTRY_SEED || '' }}
          registry-datakey: skydocs